# Dependencies
node_modules/
*/node_modules/

# Environment
.env
*.env
backend/.env

# Backups
backend/sauvegardes/
*.sql

# Logs
*.log

# Build
frontend/build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads
backend/uploads/